<!DOCTYPE html>
<html>
<head>
  <title>Shoutbox</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>

<div id="flash">
	<%#= flash.class -%>
  <% flash.each do |key, value| -%>
  <div id="flash_<%= key %>"><%=h value %></div>
  <% end -%>
</div>

<%= link_to "Shoutbox", shouts_path %>
<br/>
<br/>

<%= yield %>

<%= link_to "New Shoutbox", new_shout_path %>

</body>
</html>
